<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->

    <title>Future Cities</title>
</head>
<body>

    <nav class="navigation">
        <div class="navigation__main">
        </div>
            <div class="navigation__logo">

            </div>
            <ul class="navigation__list">
                <li class="navigation__item"><a class="navigation__link"href="#">ome</a></li>
                <li class="navigation__item">
                    <a class="navigation__link"href="/profile">Profile</a>
                    <ul class="navigation__list--sub">
                        <li class="navigation__item--sub"><a class="navigation__link"href="#">Who we are</a></li>
                        <li class="navigation__item--sub"><a class="navigation__link"href="#">What we do</a></li>
                    </ul>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link"href="#">Principles</a>
                    <ul class="navigation__list navigation__list--sub">
                        <li class="navigation__item--sub"><a class="navigation__link"href="#">Michael Hallmark</a></li>
                        <li class="navigation__item--sub"><a class="navigation__link"href="#">Sean Duncan</a></li>
                    </ul>
                </li>
                <li class="navigation__item"><a class="navigation__link"href="#">Press</a></li>
                <li class="navigation__item"><a class="navigation__link"href="#">Contact</a></li>
            </ul>
    </nav>
