.navigation {
    font-size: 1.6rem;
    display: inline-block;
    width: 100%;
    padding-right: 7rem;
    text-align: center;
    position: absolute;
    z-index: 1;

    // &__main {
        // background-color: orangered;
        // float: left;
        // width: 100%;
        // padding: 3rem;
        // display: inline-block;
    // }


    &__list {
        list-style: none;
        display: inline-block;
        float: left;
        width: 100%;
        position: relative;
        // position: absolute;
        border-radius: 5px;
        background-color: rgba($color-primary, .9);
    }

    &__item {
        float: left;
        width: 15rem;
        height: 3.5rem;
        line-height: 3.5rem;
        position: relative;

        &:hover {
            background-color: rgba($color-grey-dark-2, .9);
            border-radius: 4px;
        }

        &--sub {
            display: none;
            transition: all .3s;
        }

        &:hover &--sub {
            display: block;
            background-color: rgba($color-grey-dark-1, .5);
            color: $color-grey-dark-3;
        }
    }

    &__link  {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-grey-light-2;

            &:hover {
                color: $color-secondary-light;
            }
        }
    }

    // &__logo {
        // float: left;
        // height: 100%;
        // width: 100%;
        // padding: 2rem;
        // background-color: grey;
        // display: inline-block;
    // }
}
