body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    padding: $body-padding;

    @include respond(phone) {
        padding: 0;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin: 5rem 0;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 7.5rem;
    font-weight: 300;
    opacity: .9;
    -webkit-text-stroke: .5px black;
    text-stroke: .5px black;
    text-shadow: -3px 4px 3px  rgba(0, 0, 0, .5),
                 3px 4px 3px rgba(0, 0, 0, .2),
                 1px 10px 22px rgba(0, 0, 0, .1);

    @include respond(phone) {
        margin-bottom: 7rem;
    }

    &--main {
        display: block;
        letter-spacing: 3.5rem;
        text-indent: 3.5rem;
        text-align: center;
        animation: moveInLeft 1s ease-out;

        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 3rem;
            text-indent: 3rem;
            font-weight: 400;
        }
    }

    &--sub {
        display: block;
        letter-spacing: 3.2rem;
        text-indent: 3.2rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            font-size: 5rem;
            letter-spacing: 3rem;
            text-indent: 3rem;
            font-weight: 400;
        }

    }
}

.heading-secondary {
    color: $color-primary;
    text-transform: uppercase;
    margin-bottom: 8rem;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 5rem;
    font-weight: 300;
    opacity: .7;
    text-shadow: -1px 3px 3px rgba(0,0,0,0.5),
                 0px 6px 10px rgba(0,0,0,0.3),
                 2px 8px 13px rgba(0,0,0,0.2);

    display: block;
    letter-spacing: 3.2rem;
    animation: pageHeader .8s ease-out;

    @include respond(tab-port) {
        margin-bottom: 6rem;
    }

    @include respond(phone) {
        font-size: 3.5rem;
        letter-spacing: 2.1rem;
        margin-bottom: 4rem;
    }

}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 500;
    display: inline-block;
    color: $color-primary-light;
    letter-spacing: .2rem;
    text-shadow: .2rem .4rem 1rem rgba($color-black, .25);

    @include respond(phone) {
        font-size: 2.5rem;
    }
}

.heading-quaternary {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 4rem;
    letter-spacing: .15rem;
    color: $color-primary-light;
    text-shadow: .2rem .4rem 1rem rgba($color-black, .25);

    @include respond(phone) {
        font-size: 2.4rem;
    }
}

.heading-quinary {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: .15rem;
    color: $color-primary-light;
    margin-top: 6rem;

    @include respond(phone) {
        font-size: 2.3rem;
    }
}

.heading-senary {
    font-size: 1.7rem;
    font-weight: 700;
    color: $color-grey-light-2;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
