.profile {
    background-color: $color-white;
    padding: 10rem;
    border-radius: 5px;
    border-right: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;

    @include respond(tab-land) {
        padding: 10rem 9rem;
    }

    @include respond(tab-port) {
        padding: 10rem 7rem;
    }

    @include respond(phone) {
        padding: 7rem 1.5rem 3rem 3rem;
    }

    &__section {
        margin-bottom: 6rem;

        .paragraph {
            font-weight: 300;
            font-size: 2rem;
            margin-left: 2rem;

            @include respond(phone) {
                margin-left: 1.3rem;
            }

            &__list {
                font-size: 1.8rem;
                font-weight: 300;
                margin-top: -1rem;
                padding-left: 8rem;

                @include respond(phone) {
                    font-size: 1.7rem;
                    padding-left: 4rem;
                }

                ul {
                    font-size: 1.7rem;
                    margin-top: 1rem;
                    padding-left: 3rem;
                    list-style: square;
                }

                &--item {
                    padding-bottom: 1rem;

                    @include respond(phone) {
                        padding-bottom: .5rem;
                    }
                }
            }
        }
    }
}
